<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="root">
        <!-- header -->
        <header>
            <nav id="menu" class="container py-1">
                <ul class="flex-center text-center">
                    <li v-for="(item, i) in categories">
                        <a href="#" class="btn mx-1" :class="i == catIndex ? 'active' : ''" @click="categoryChange(i)" @click.prevent>{{item.type}}</a>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- main -->
        <main class="container">
            <!-- titolo -->
            <h1 class="py-1 f-3">Le nostre stanze</h1>
            <!-- categorie stanze -->
            <section id="rooms-category">
                <!-- gallery title -->
                <h2>{{categories[catIndex].type}}</h2>
                <!-- showcase -->
                <div id="showcase" class="flex my-2">
                    <div id="left-showcase" class="me-2">
                        <!-- immagine grande -->
                        <div class="preview" @mouseover="sliderStop()" @mouseleave="sliderPlay()">
                            <img id="preview" class="wh-100" :src="categories[catIndex].rooms[roomIndex].src" :alt="categories[catIndex].rooms[roomIndex].alt">
                            <div class="prev" @click="prev()">
                                <i class="fas fa-chevron-left"></i>
                            </div>
                            <div class="next" @click="next()">
                                <i class="fas fa-chevron-right"></i>
                            </div>
                            <div class="layover"></div>
                            <div class="progress-bar" :style="{width: progressBarLength + '%'}"></div>
                        </div>
                    </div>
                    <div id="right-showcase" class="ms-2 flex" @mouseover="sliderStop()" @mouseleave="sliderPlay()">
                        <div id="description" class="flex p-1">
                            <p>{{categories[catIndex].rooms[roomIndex].text}}</p>
                        </div>
                        <!-- carosello -->
                        <div id="carousel" class="flex">
                            <div class="thumbnail" v-for="(item, i) in categories[catIndex].rooms">
                                <img class="wh-100" :src="item.src" :alt="item.alt" :class="i == roomIndex ? 'active' : ''" @click="roomChange(i)">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/main.js"></script>

</body>
</html>